/* .chatroom_left {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px 10px 10px;
    max-width: 60%;
    border-radius: 5px;
    word-break: break-all;
    white-space: pre-wrap;
} */
.chatroom_left_name {
    font-size: 15px;
    font-family: 'GmarketSansMedium';
    font-weight: 700;
    margin: 5px;
}
.chatroom_left_content {
    background-color: #BBD2EC;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-family: 'GmarketSansMedium';
    font-weight: 500;
    /* margin: 5px; */
}
.chatroom_left_container {
    width: inherit;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    /* background-color: red; */
}
.chatroom_left_line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.chatroom_left_image {
    max-width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
}

.chatroom_left_image_container {
    width: inherit;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    /* background-color: red; */
}